{% extends "base_site.html" %}

{% block extra_css %}
    {# Este bloco deve ser usado APENAS para CSS muito específico desta página, se houver. #}
{% endblock %}

{% block content %}
<section class="hero-section">
    <div class="hero-content-wrapper">
        <div class="hero-text-container">
            <h1>O Futuro da Gestão de Frotas na Palma da Sua Mão</h1>
            <p>Otimize rotas, controle gastos e monitore seus veículos em tempo real.</p>
        </div>
        
        <div class="hero-video-container">
            <video autoplay muted loop playsinline class="app-video">
                <source src="{{ url_for('static', filename='video/hibiro.mp4') }}" type="video/mp4">
                Seu navegador não suporta a tag de vídeo.
            </video>
        </div>
    </div>
    
    {# BLOCO PARA OS DOIS BOTÕES NA HERO SECTION #}
    <div class="hero-buttons-wrapper">
        <a href="{{ url_for('site_bp.cadastro_teste_gratis') }}" class="cta-primary hero-main-cta">Experimente Grátis</a> {# CORRIGIDO #}
        <a href="{{ url_for('auth.login') }}" class="cta-secondary hero-login-cta">Fazer Login</a>
    </div>

</section>
{% endblock %}